{% import "components/macros.twig" as macros %}
{% extends "base.twig" %}
{% block page_title %}
	Il blog in mappa
	-
{% endblock page_title %}
{% block map_page %}true{% endblock map_page %}
{% block sticky_title %}
    <h1 class="d-none d-xl-none"><a href="{{site.url}}">{{site.title}}</a></h1>
{% endblock sticky_title %}
{% block content %}
		<div id='map'></div>

<script>

let posts_coordinates = {
    "type": "FeatureCollection",
    "features": [
        {% for post in posts %}
            {% set coordinates = post.meta('coordinates') %}
            {% if coordinates and coordinates|length > 0 %}
                {%- for c in coordinates %}
                {% set lat = c['latitudine'] %}
                {% set lng = c['longitudine'] %}
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [{{ lng }}, {{ lat }}]
                    },
                    "properties": {
                        "title": "{{ post.title }}",
                        "img_url": "{{post.thumbnail}}",
                        "category": [{% for cat in post.terms({taxonomy: 'category'}) %} "{{cat}}"{% if not loop.last %}, {% endif %}{% endfor %}],
                        "date": "{{post.date('d-m-Y')}}",
                        "url": "{{site.url}}/{{post.terms('category')[0] |replace({' ': "-"})}}/{{post.slug}}"
                    }
                }{% if not loop.last or not loop.parent.last %},{% endif %}
                {%- endfor %}
            {% endif %}
        {% endfor %}
    ]
};

//console.log(posts_coordinates);
</script>

{% endblock %}
