{% extends 'pages/archive.twig' %}
{% block archive_type %}tag{% endblock archive_type %}
{% block archive_value %}{{term.id}}{% endblock archive_value %}
{% block sticky_title %}
    <h1 class="d-none d-xl-none tag-title">{{term.name}}</h1>
{% endblock sticky_title %}
{% block page_title %}
    {{term.name}} - 
{% endblock page_title %}
{% block title %}
<h2 class="tag-title">{{term.name }}</h2>
<p class="archive-results-number">{{posts_number}}
    {% if posts_number == 1 %}
        risultato {% else %} risultati
    {% endif %}
</p>
{% endblock title %}